<%= form_for(library_comment) do |f| %>
  <% if library_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library_comment.errors.count, "error") %> prohibited this library_comment from being saved:</h2>

      <ul>
      <% library_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :likes %>
    <%= f.number_field :likes %>
  </div>

  <div class="field">
    <%= f.label :story_id %>
    <%= f.number_field :story_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
