<%= form_for(lobby) do |f| %>
  <% if lobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lobby.errors.count, "error") %> prohibited this lobby from being saved:</h2>

      <ul>
      <% lobby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :has_password %>
    <%= f.check_box :has_password %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="field">
    <%= f.label :word_limit %>
    <%= f.number_field :word_limit %>
  </div>

  <div class="field">
    <%= f.label :master_user_id %>
    <%= f.number_field :master_user_id %>
  </div>

  <div class="field">
    <%= f.label :members %>
    <%= f.number_field :members %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
