<p id="notice"><%= notice %></p>

<h1>Lobbies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Has password</th>
      <th>Password</th>
      <th>Word limit</th>
      <th>Master user</th>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lobbies.each do |lobby| %>
      <tr>
        <td><%= lobby.name %></td>
        <td><%= lobby.has_password %></td>
        <td><%= lobby.password %></td>
        <td><%= lobby.word_limit %></td>
        <td><%= lobby.master_user_id %></td>
        <td><%= lobby.members %></td>
        <td><%= link_to 'Show', lobby %></td>
        <td><%= link_to 'Edit', edit_lobby_path(lobby) %></td>
        <td><%= link_to 'Destroy', lobby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lobby', new_lobby_path %>
