<p id="notice"><%= notice %></p>

<p>
  <strong>Password:</strong>
  <%= @lobby.password %>
</p>

<p>
  <strong>Word limit:</strong>
  <%= @lobby.word_limit %>
</p>

<p>
  <strong>Master user:</strong>
  <%= @lobby.master_user_id %>
</p>

<p>
  <strong>Members:</strong>
  <%= @lobby.members %>
</p>

<%= link_to 'Edit', edit_lobby_path(@lobby) %> |
<%= link_to 'Back', lobbies_path %>
